<?xml version="1.0"?>
<launch>
    <!-- <arg name="subscribe_topics" default="/camera/color/image_raw"/> -->
    <arg name="subscribe_topics" default="/camera/color/image_raw/features"/>
    

    <node name="object_tracking_node" pkg="object_tracking" type="object_tracking_node.py" output="screen">
        <rosparam param="subscribe_topics" subst_value="True">[$(arg subscribe_topics)]</rosparam> 
    </node>

</launch>
